h1,
h2,
h3,
ul,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*,
::after,
::before {
  box-sizing: border-box;
}

html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

:root {
  --title-color: #212121;
  --main-text-color: #757575;
  --activ-text-color: #2196f3;
  --icon-fill: #afb1b8;
  --trans-duration: 250ms;
  --trans-time-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-policy__label, .join__soc, .client, .team-member__soc, .values__icons, .modal__button, .head__icon {
  align-items: center;
  justify-content: center;
  display: flex;
}

body {
  color: var(--main-text-color);
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.section-title {
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  color: var(--title-color);
  margin-bottom: 50px;
}
@media screen and (max-width: 1200px) {
  .section-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.1785714286;
  }
}

.image {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.head {
  border-bottom: 1px solid #ececec;
}
.head .head__item:not(:last-child) {
  margin-right: 50px;
}

.head__title {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  padding: 0;
  color: var(--title-color);
  display: block;
  transition: color var(--trans-duration) var(--trans-time-function);
}
.head__title:hover, .head__title:focus {
  color: var(--activ-text-color);
}
@media screen and (min-width: 768px) {
  .head__title {
    padding: 32px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428571429;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 768px) {
  .head__list {
    display: flex;
    align-items: center;
  }
}
@media screen and (max-width: 767px) {
  .head__list .head__item:not(:last-child) {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 768px) {
  .head__list .head__item {
    display: flex;
    align-items: center;
  }
}
.head__list .link.current {
  color: var(--activ-text-color);
}
.head__list.mobile-hidden {
  display: none;
}
@media screen and (min-width: 768px) {
  .head__list.mobile-hidden {
    display: flex;
  }
}

@media screen and (max-width: 1199px) {
  .head-connect {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .head-connect .head__item:not(:last-child) {
    margin-right: 0;
  }
}

@media screen and (max-width: 1199px) {
  .head-connect .head__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

.navigation {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .navigation {
    width: 100%;
  }
}
.navigation .navigation__menu {
  margin-left: 93px;
}
@media screen and (max-width: 767px) {
  .navigation .navigation__menu {
    margin-left: 0;
    margin-bottom: 302px;
  }
}
@media screen and (max-width: 479px) {
  .navigation .navigation__menu {
    margin-left: 0;
    margin-bottom: 102px;
  }
}

.head--row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .head--row {
    height: 60px;
  }
}

.logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
  color: #000000;
  font-family: "Raleway", sans-serif;
}

.logo--color {
  color: #2196f3;
}

.head__contact {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.1785714286;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  transition: color var(--trans-duration) var(--trans-time-function);
}
.head .head__contact:hover, .head .head__contact:focus {
  color: var(--activ-text-color);
}
@media screen and (min-width: 480px) {
  .head__contact {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.1764705882;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 768px) {
  .head__contact {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.1666666667;
    letter-spacing: 0.02em;
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .head__contact {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428571429;
    letter-spacing: 0.02em;
  }
}

@media screen and (max-width: 767px) {
  .contact--color {
    color: var(--activ-text-color);
  }
}

.head__icon {
  margin-right: 10px;
  fill: var(--main-text-color);
  transition: fill var(--trans-duration) var(--trans-time-function);
}
.head__contact:hover > .head__icon, .head__contact:focus > .head__icon {
  fill: var(--activ-text-color);
}

.current {
  position: relative;
}
.current::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 100%;
  background-color: var(--activ-text-color);
  border-radius: 2px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  left: 0;
  bottom: 0;
}
@media screen and (max-width: 767px) {
  .current::after {
    display: none;
  }
}

.head-menu__btn {
  display: block;
  padding: 0;
  border: none;
  background-color: #ffffff;
  margin-left: auto;
  margin-top: 10px;
  margin-right: 15px;
}

.head-menu__btn:hover > .head__btn--close, .head-menu__btn:focus > .head__btn--close {
  fill: var(--activ-text-color);
}

.head-menu {
  display: none;
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-color: #ffffff;
  padding: 0 0 10px 10px;
}
@media screen and (min-width: 480px) {
  .head-menu {
    padding: 0 0 48px 40px;
  }
}

.head-menu.is-open {
  display: block;
}

.head__btn {
  padding: 0;
  border: none;
  background-color: #fff;
}
@media screen and (min-width: 768px) {
  .head__btn {
    display: none;
  }
}

.head__btn:hover > .head__btn--menu, .head__btn:focus > .head__btn--menu {
  fill: var(--activ-text-color);
}

.head-menu__soc {
  display: flex;
  margin-top: 64px;
}

.head-menu__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 4px;
}
.head-menu__item:not(:first-child) {
  padding-left: 4px;
}
@media screen and (min-width: 480px) {
  .head-menu__item {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2222222222;
    letter-spacing: 0.02em;
  }
  .head-menu__item:not(:last-child) {
    padding-right: 10px;
  }
  .head-menu__item:not(:first-child) {
    padding-left: 10px;
  }
}

.head-menu__link {
  font-weight: 500;
  font-size: 15px;
  line-height: 1.3333333333;
  letter-spacing: 0.02em;
  color: var(--activ-text-color);
}

.hero {
  height: 400px;
  max-width: 1600px;
  background: #c4c4c4;
  padding: 118px 0;
  margin: 0 auto;
  text-align: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img-bg-hero-mob.jpg");
  background-size: cover;
  background-position: center;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img-bg-hero-mobx2.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img-bg-hero-tab.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img-bg-hero-tabx2.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
    padding: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img-bg-hero.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img-bg-herox2.jpg");
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6153846154;
  letter-spacing: 0.06em;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 30px;
}
@media screen and (max-width: 480px) {
  .hero__title {
    font-weight: 900;
    font-size: 20px;
    line-height: 1.8;
    letter-spacing: 0.06em;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3636363636;
    letter-spacing: 0.06em;
  }
}

.hero__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  background-color: var(--activ-text-color);
  color: #ffffff;
  font-family: inherit;
  font-style: inherit;
  cursor: pointer;
  display: inline-block;
  border-color: transparent;
  padding: 10px 32px;
  border-radius: 4px;
  min-width: 200px;
  transition: background-color var(--trans-duration) var(--trans-time-function);
}
.hero__button:hover, .hero__button:focus {
  background-color: #188ce8;
}

.work-filter__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  font-family: inherit;
  font-style: inherit;
  color: #212121;
  background-color: #f5f4fa;
  cursor: pointer;
  display: inline-block;
  padding: 6px 22px;
  border-radius: 4px;
  min-width: 73px;
  border: none;
  transition: color var(--trans-duration) var(--trans-time-function), background-color var(--trans-duration) var(--trans-time-function), box-shadow var(--trans-duration) var(--trans-time-function);
}
.work-filter__button:hover, .work-filter__button:focus {
  color: #ffffff;
  background-color: var(--activ-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn-submit {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  height: 50px;
  min-width: 200px;
  background-color: var(--activ-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  border: none;
  padding: 10px 29px;
  transition: background-color var(--trans-duration) var(--trans-time-function);
}
@media screen and (min-width: 1200px) {
  .btn-submit {
    margin-left: 12px;
  }
}
.btn-submit:hover, .btn-submit:focus {
  background-color: #188ce8;
}
.modal-form > .btn-submit {
  display: flex;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.modal__button {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.values__list {
  display: flex;
  flex-wrap: wrap;
}

.values {
  padding-bottom: 0;
}

.values__item {
  flex-basis: 100%;
  margin: 0 auto 30px auto;
}
@media screen and (min-width: 480px) {
  .values__item {
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .values__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .values__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}

.values__icons {
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.values__title {
  color: var(--title-color);
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .values__title {
    text-align: center;
  }
}

.sub-title {
  font-size: 14px;
  line-height: 1.1428571429;
  text-transform: uppercase;
}

.values__text {
  font-size: 14px;
  line-height: 1.7142857143;
  color: var(--main-text-color);
}

.doing {
  display: none;
}
@media screen and (min-width: 1200px) {
  .doing {
    display: block;
  }
}

.doing__list {
  display: flex;
  justify-content: space-between;
}

.doing__title {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
  height: 70px;
  text-align: center;
  padding: 27px 0;
}

.doing__item {
  position: relative;
}

.team {
  background-color: #f5f4fa;
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.team__item {
  flex-basis: 100%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 480px) {
  .team__item {
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .team__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}

.team-member__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-color);
  margin-bottom: 10px;
}

.team-member__text {
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--main-text-color);
  margin-bottom: 16px;
}

.team-member {
  background-color: #ffffff;
  padding: 30px 0;
}

.team-member__soc {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color var(--trans-duration) var(--trans-time-function);
}
.team-member__soc:hover, .team-member__soc:focus {
  background-color: var(--activ-text-color);
}

.team-member__icon {
  fill: var(--icon-fill);
  transition: fill var(--trans-duration) var(--trans-time-function);
}
.team-member__soc:hover > .team-member__icon, .team-member__soc:focus > .team-member__icon {
  fill: #ffffff;
}

.team-member__connect {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.client-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.client-list__item {
  flex-basis: 100%;
  height: 92px;
}
@media screen and (min-width: 480px) {
  .client-list__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .client-list__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .client-list__item {
    flex-basis: calc((100% - 150px) / 6);
  }
}

.client__icon {
  fill: var(--icon-fill);
  transition: fill var(--trans-duration) var(--trans-time-function);
}
.client:hover > .client__icon, .client:focus > .client__icon {
  fill: var(--activ-text-color);
}

.client {
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color var(--trans-duration) var(--trans-time-function);
}
.client:hover, .client:focus {
  cursor: pointer;
  border-color: var(--activ-text-color);
}

.work-filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 40px;
  -moz-column-gap: 8px;
       column-gap: 8px;
  row-gap: 15px;
}
@media screen and (min-width: 768px) {
  .work-filter {
    margin-bottom: 30px;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .work-filter {
    margin-bottom: 50px;
  }
}

.work-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .work-list {
    justify-content: flex-start;
  }
}

.work-list__item {
  display: block;
  transition: box-shadow var(--trans-duration) var(--trans-time-function);
  width: 100%;
  height: auto;
}
.work-list__item:hover, .work-list__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .work-list__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .work-list__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}

.work-list__img-wrapper {
  position: relative;
  overflow: hidden;
}

.work-list__ower-text {
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 15px 10px;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform var(--trans-duration) var(--trans-time-function);
}
.work-list__link:hover .work-list__ower-text, .work-list__link:focus .work-list__ower-text {
  transform: translateY(0);
}
@media screen and (min-width: 480px) {
  .work-list__ower-text {
    font-size: 18px;
    line-height: 1.5555555556;
    letter-spacing: 0.03em;
    padding: 63px 24px;
  }
}

.work-list__link {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.work-card {
  flex-grow: 1;
  border: 1px solid #ececec;
  border-top: none;
  padding: 20px 24px;
}

.work-card__title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
  margin-bottom: 4px;
}

.work-card__text {
  font-size: 16px;
  line-height: 1.875;
  color: var(--main-text-color);
}

.foot {
  background-color: #2f303a;
  padding: 60px 0;
}
.foot .link {
  color: #ffffff;
}
.foot.logo {
  display: inline-block;
}
.foot > .container {
  text-align: center;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .foot > .container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .foot > .container {
    text-align: start;
  }
}

.foot-address {
  font-size: 14px;
  line-height: 1.7142857143;
  font-style: normal;
  text-decoration: none;
  color: #ffffff;
  margin-top: 20px;
}

.foot-contact {
  font-size: 14px;
  line-height: 1.7142857143;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  display: block;
  margin-top: 9px;
  transition: color var(--trans-duration) var(--trans-time-function);
}
.foot-contact:hover, .foot-contact:focus {
  color: var(--activ-text-color);
}

.join {
  margin-top: 60px;
}
@media screen and (min-width: 1200px) {
  .join {
    margin-left: 70px;
  }
}

.join__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  display: block;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .join__title {
    text-align: start;
  }
}

.join__list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.join__soc {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--trans-duration) var(--trans-time-function);
}
.join__soc:hover, .join__soc:focus {
  background-color: var(--activ-text-color);
}

.join__icon {
  fill: #ffffff;
}

.foot-form {
  margin-top: 60px;
}
@media screen and (min-width: 1200px) {
  .foot-form {
    margin-left: 93px;
  }
}

.form__wrap {
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .form__wrap {
    display: flex;
  }
}

.foot-form__input {
  display: block;
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding: 15px 16px;
}
.foot-form__input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
}
.foot-form__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
}
.foot-form__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 480px) {
  .foot-form__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .foot-form__input {
    width: 358px;
  }
}

.btn-submit__icon {
  fill: #ffffff;
}

.btn-submit__title {
  margin-right: 10px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--trans-duration) var(--trans-time-function), visibility var(--trans-duration) var(--trans-time-function);
}

.modal {
  width: 90%;
  height: 95%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 40px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform var(--trans-duration) var(--trans-time-function);
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    height: 581px;
    width: 528px;
  }
}
.overlay.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.3);
}

.modal__icon {
  transition: fill var(--trans-duration) var(--trans-time-function);
}
.modal__button:focus .modal__icon, .modal__button:hover .modal__icon {
  fill: var(--activ-text-color);
  cursor: pointer;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-form__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.4375;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-color);
  margin-bottom: 12px;
}
@media screen and (min-width: 480px) {
  .modal-form__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.03em;
  }
}
@media screen and (min-width: 1200px) {
  .modal-form__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
  }
}

.modal-form__label {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  display: block;
  margin-bottom: 4px;
  font-style: normal;
  color: var(--main-text-color);
}

.modal-form__field {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--trans-duration) var(--trans-time-function);
}
.modal-form__field:focus, .modal-form__field:hover {
  border-color: var(--activ-text-color);
  outline: var(--activ-text-color);
  cursor: pointer;
}

.modal-form__wrap {
  position: relative;
}

.modal-form__icon {
  position: absolute;
  top: 0;
  left: 12px;
  transform: translateY(50%);
  transition: fill var(--trans-duration) var(--trans-time-function);
}
.modal-form__field:focus + .modal-form__icon, .modal-form__field:hover + .modal-form__icon {
  fill: var(--activ-text-color);
}

.comment-field {
  max-height: 120px;
  resize: none;
  padding: 12px 16px;
  margin-bottom: 20px;
}
.comment-field::-moz-placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.comment-field:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.comment-field::placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
@media screen and (min-width: 480px) {
  .comment-field {
    height: 120px;
  }
}

.modal-policy__label {
  flex-wrap: wrap;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
}

.modal-policy__link {
  color: var(--activ-text-color);
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 480px) {
  .modal-policy__link {
    font-size: 12px;
    line-height: 1.1666666667;
    letter-spacing: 0.03em;
  }
}
@media screen and (min-width: 1200px) {
  .modal-policy__link {
    font-size: 14px;
    line-height: 1.7142857143;
    letter-spacing: 0.03em;
  }
}

.modal-policy__text {
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 480px) {
  .modal-policy__text {
    font-size: 12px;
    line-height: 1.1666666667;
    letter-spacing: 0.03em;
  }
}
@media screen and (min-width: 1200px) {
  .modal-policy__text {
    font-size: 14px;
    line-height: 1.7142857143;
    letter-spacing: 0.03em;
  }
}

.modal-policy__check {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
}
.modal-policy:focus + .modal-policy__label > .modal-policy__check {
  border-color: var(--activ-text-color);
}
.modal-policy:checked + .modal-policy__label > .modal-policy__check {
  background-image: url(../images/icons/icon\ check.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--activ-text-color);
  border-radius: 2px;
}/*# sourceMappingURL=main.css.map */