.hero__button {
  @include fonts(700, 16px, 30/16, 0.06em);
  background-color: var(--activ-text-color);
  color: #ffffff;
  font-family: inherit;
  font-style: inherit;
  cursor: pointer;
  display: inline-block;
  border-color: transparent;
  padding: 10px 32px;
  border-radius: 4px;
  min-width: 200px;
  transition: background-color var(--trans-duration) var(--trans-time-function);
  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}

.work-filter__button {
  @include fonts(500, 16px, 26/16, 0.03em);
  font-family: inherit;
  font-style: inherit;
  color: #212121;
  background-color: #f5f4fa;
  cursor: pointer;
  display: inline-block;
  padding: 6px 22px;
  border-radius: 4px;
  min-width: 73px;
  border: none;
  transition: color var(--trans-duration) var(--trans-time-function),
    background-color var(--trans-duration) var(--trans-time-function),
    box-shadow var(--trans-duration) var(--trans-time-function);
  &:hover,
  &:focus {
    color: #ffffff;
    background-color: var(--activ-text-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.btn-submit {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  @include fonts(700, 16px, 30/16, 0.06em);
  height: 50px;
  min-width: 200px;
  background-color: var(--activ-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  border: none;
  padding: 10px 29px;
  transition: background-color var(--trans-duration) var(--trans-time-function);
  @media screen and (min-width: 1200px) {
    margin-left: 12px;
  }
  &:hover,
  &:focus {
    background-color: #188ce8;
  }
  .modal-form > & {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }
}

.modal__button {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  @extend %flex-centered;
}
