.foot {
  background-color: #2f303a;
  padding: 60px 0;
  & .link {
    color: #ffffff;
  }
  &.logo {
    display: inline-block;
  }
  & > .container {
    display: flex;
    align-items: baseline;
  }
}

.foot-address {
  @include fonts(null, 14px, 24/14, null);
  font-style: normal;
  text-decoration: none;
  color: #ffffff;
  margin-top: 20px;
}
.foot-contact {
  @include fonts(null, 14px, 24/14, null);
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  display: block;
  margin-top: 9px;
  transition: color var(--trans-duration) var(--trans-time-function);
  &:hover,
  &:focus {
    color: var(--activ-text-color);
  }
}

.join {
  margin-left: 70px;
}

.join__title {
  @include fonts(700, 14px, 16/14, 0.03em);
  display: block;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.join__list {
  display: flex;
  gap: 10px;
}

.join__soc {
  @extend %flex-centered;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--trans-duration) var(--trans-time-function);
  &:hover,
  &:focus {
    background-color: var(--activ-text-color);
  }
}

.join__icon {
  fill: #ffffff;
}

.foot-form {
  margin-left: 93px;
}

.form__wrap {
  display: flex;
}

.foot-form__input {
  display: inline;
  width: 358px;
  height: 50px;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding: 15px 16px;
  &::placeholder {
    @include fonts(null, 16px, 20/16, 0.03em);
    font-family: $primeryFont;
    font-style: normal;
    color: rgba(255, 255, 255, 0.6);
  }
}

.btn-submit__icon {
  fill: #ffffff;
}

.btn-submit__title {
  margin-right: 10px;
}
