.head {
  border-bottom: 1px solid #ececec;
  & .head__item:not(:last-child) {
    margin-right: 50px;
  }
}

.head__title {
  @include fonts(500, 40px, 47 / 40, 0.02em);
  padding: 0;
  color: var(--title-color);
  display: block;
  transition: color var(--trans-duration) var(--trans-time-function);
  &:hover,
  &:focus {
    color: var(--activ-text-color);
  }
  @media screen and (min-width: 768px) {
    padding: 32px 0;
    @include fonts(500, 14px, 16 / 14, 0.02em);
  }
}

.head__list {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
  & .head__item:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 32px;
    }
  }
  & .head__item {
    @media screen and (min-width: 768px) {
      display: flex;
      align-items: center;
    }
  }
  & .link.current {
    color: var(--activ-text-color);
  }
  &.mobile-hidden {
    display: none;
    @media screen and (min-width: 768px) {
      display: flex;
    }
  }
}

.head-connect {
  @media screen and (max-width: 1199px) {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    & .head__item:not(:last-child) {
      margin-right: 0;
    }
  }
}

.head-connect .head__item {
  @media screen and (max-width: 1199px) {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.navigation {
  display: flex;
  align-items: center;
  @media screen and (max-width: 767px) {
    width: 100%;
  }
  .navigation__menu {
    margin-left: 93px;
    @media screen and (max-width: 767px) {
      margin-left: 0;
      margin-bottom: 302px;
    }
  }
}

.head--row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media screen and (max-width: 767px) {
    height: 60px;
  }
}

.logo {
  @include fonts(700, 26px, 31/26, null);
  color: #000000;
  font-family: $secondaryFont;
}

.logo--color {
  color: #2196f3;
}

.head__contact {
  @include fonts(500, 28px, 33 / 28, 0.02em);
  color: var(--main-text-color);
  transition: color var(--trans-duration) var(--trans-time-function);
  .head &:hover,
  .head &:focus {
    color: var(--activ-text-color);
  }
  @media screen and (min-width: 480px) {
    @include fonts(500, 34px, 40 / 34, 0.02em);
  }
  @media screen and (min-width: 768px) {
    @include fonts(500, 12px, 14 / 12, 0.02em);
    display: flex;
  }
  @media screen and (min-width: 1200px) {
    @include fonts(500, 14px, 16 / 14, 0.02em);
  }
}

.contact--color {
  @media screen and (max-width: 767px) {
    color: var(--activ-text-color);
  }
}

.head__icon {
  margin-right: 10px;
  fill: var(--main-text-color);
  @extend %flex-centered;
  transition: fill var(--trans-duration) var(--trans-time-function);
  .head__contact:hover > &,
  .head__contact:focus > & {
    fill: var(--activ-text-color);
  }
}

.current {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    height: 4px;
    width: 100%;
    background-color: var(--activ-text-color);
    border-radius: 2px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    left: 0;
    bottom: 0;
  }
  &::after {
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
}

.head-menu__btn {
  display: block;
  padding: 0;
  border: none;
  background-color: #ffffff;
  margin-left: auto;
  margin-top: 10px;
  margin-right: 15px;
}

.head__btn--close {
  .head-menu__btn:hover > &,
  .head-menu__btn:focus > & {
    fill: var(--activ-text-color);
  }
}

.head-menu {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-color: #ffffff;
  padding: 0 0 10px 10px;
  @media screen and (min-width: 480px) {
    padding: 0 0 48px 40px;
  }
}

.head-menu.is-open {
  display: block;
}

.head__btn {
  padding: 0;
  border: none;
  background-color: #fff;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.head__btn--menu {
  .head__btn:hover > &,
  .head__btn:focus > & {
    fill: var(--activ-text-color);
  }
}

.head-menu__soc {
  display: flex;
  justify-content: center;
  margin-top: 64px;
}

.head-menu__item {
  &:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    padding-right: 4px;
  }
  &:not(:first-child) {
    padding-left: 4px;
  }
  @media screen and (min-width: 480px) {
    @include fonts(500, 18px, 22 / 18, 0.02em);
    &:not(:last-child) {
      padding-right: 10px;
    }
    &:not(:first-child) {
      padding-left: 10px;
    }
  }
}

.head-menu__link {
  @include fonts(500, 15px, 20 / 15, 0.02em);
  color: var(--activ-text-color);
}
