.head {
  border-bottom: 1px solid #ececec;
  & .head__item:not(:last-child) {
    margin-right: 50px;
  }
}

.head__title {
  color: var(--title-color);
  @include fonts(500, 14px, 16/14, 0.02em);
  display: block;
  padding: 32px 0;
  transition: color var(--trans-duration) var(--trans-time-function);
  &:hover,
  &:focus {
    color: var(--activ-text-color);
  }
}

.head__list {
  display: flex;
  align-items: center;
  @media screen and (max-width: 767px) {
    display: none;
  }
  & .head__item {
    display: flex;
    align-items: center;
  }
  & .link.current {
    color: var(--activ-text-color);
  }
}

.navigation {
  display: flex;
  align-items: center;
  @media screen and (max-width: 767px) {
    width: 100%;
  }
  .navigation__menu {
    margin-left: 93px;
  }
}

.head--row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media screen and (max-width: 767px) {
    height: 60px;
  }
}

.logo {
  @include fonts(700, 26px, 31/26, null);
  color: #000000;
  font-family: $secondaryFont;
}

.logo--color {
  color: #2196f3;
}

.head__contact {
  @include fonts(500, 14px, 16/14, 0.02em);
  color: var(--main-text-color);
  display: flex;
  transition: color var(--trans-duration) var(--trans-time-function);
  .head &:hover,
  .head &:focus {
    color: var(--activ-text-color);
  }
}

.head__icon {
  margin-right: 10px;
  fill: var(--main-text-color);
  @extend %flex-centered;
  transition: fill var(--trans-duration) var(--trans-time-function);
  .head__contact:hover > &,
  .head__contact:focus > & {
    fill: var(--activ-text-color);
  }
}

.current {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    height: 4px;
    width: 100%;
    background-color: var(--activ-text-color);
    border-radius: 2px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    left: 0;
    bottom: 0;
  }
}

.head__btn {
  display: block;
  padding: 0;
  border: none;
  background-color: #ffffff;
  .head__menu & {
    margin-left: auto;
    margin-top: 10px;
    margin-right: 15px;
  }
}

.head__menu {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}
