.client-list {
  display: flex;
  gap: 30px;
}

.client__icon {
  fill: var(--icon-fill);
  transition: fill var(--trans-duration) var(--trans-time-function);
  .client:hover > &,
  .client:focus > & {
    fill: var(--activ-text-color);
  }
}

.client {
  @extend %flex-centered;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color var(--trans-duration) var(--trans-time-function);
  &:hover,
  &:focus {
    cursor: pointer;
    border-color: var(--activ-text-color);
  }
}
