.values__list {
  display: flex;
  flex-wrap: wrap;
}

.values {
  padding-bottom: 0;
}

.values__item {
  flex-basis: 100%;
  margin: 0 auto 30px auto;
  @media screen and (min-width: 480px) {
    justify-content: center;
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 30px) / 2);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 90px) / 4);
  }
}

.values__icons {
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  @extend %flex-centered;
  margin-bottom: 30px;
}

.values__title {
  color: var(--title-color);
  margin-bottom: 10px;
  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.sub-title {
  @include fonts(null, 14px, 16/14, null);
  text-transform: uppercase;
}

.values__text {
  @include fonts(null, 14px, 24/14, null);
  color: var(--main-text-color);
}
