.values__list {
  display: flex;
}

.values {
  padding-bottom: 0;
}

.values__item {
  width: 270px;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.values__icons {
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  @extend %flex-centered;
  margin-bottom: 30px;
}

.values__title {
  color: var(--title-color);
  margin-bottom: 10px;
}

.sub-title {
  @include fonts(null, 14px, 16/14, null);
  text-transform: uppercase;
}

.values__text {
  @include fonts(null, 14px, 24/14, null);
  color: var(--main-text-color);
}
